In [1]:
!pip install NLTK
!pip install Sastrawi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: NLTK in /usr/local/lib/python3.9/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from NLTK) (4.65.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from NLTK) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from NLTK) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from NLTK) (1.1.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 209.7/209.7 KB 5.2 MB/s eta 0:00:00
Installing collected packages: Sastrawi
Successfully installed Sastrawi-1.0.1

In [2]:
import pandas as pd
import numpy as np
import re
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
df = pd.read_csv('main.csv')

df

,title,label,label_score
0,"Masuk Radar Pilwalkot Medan, Menantu Jokowi Be...",non-clickbait,0
1,Malaysia Sudutkan RI: Isu Kabut Asap hingga In...,non-clickbait,0
2,Viral! Driver Ojol di Bekasi Antar Pesanan Mak...,clickbait,1
3,"Kemensos Salurkan Rp 7,3 M bagi Korban Kerusuh...",non-clickbait,0
4,"Terkait Mayat Bayi Mengenaskan di Tangerang, S...",non-clickbait,0
...,...,...,...
14995,"Tolak RUU Pertanahan, Ribuan Petani Siap Gelar...",non-clickbait,0
14996,Ada Niat Tambah Momongan Tanpa Ikut Program Ha...,clickbait,1
14997,"Beredar Isu Internet Papua Diblokir Lagi, Telk...",non-clickbait,0
14998,"TXT Akan Segera Comeback, Soobin Akui Gatal I...",clickbait,1
14999,Emmy Awards 2019: Peter Dinklage Cetak Rekor B...,non-clickbait,0

In [ ]:
def preprocess_text(text):
    # Lowercase
    text = text.lower()
    # Remove punctuation
    text = text.translate(str.maketrans("", "", string.punctuation))
    # Remove numbers
    text = re.sub(r"\d+", "", text)
    # remove non-alphanumeric characters
    text = re.sub('[^a-zA-Z0-9]', ' ', text)
    # tokenize text into words
    words = word_tokenize(text)
    # remove stopwords
    words = [word for word in words if word not in stopwords.words('indonesian')]
    # stem words using Sastrawi stemmer
    factory = StemmerFactory()
    stemmer = factory.create_stemmer()
    words = [stemmer.stem(word) for word in words]
    # join words back into text
    text = ' '.join(words)
    return text

In [ ]:
# preprocess text in dataset
df['title'] = df['title'].apply(preprocess_text)

In [ ]:
# save preprocessed data to CSV file
df.to_csv('data_bersih.csv', index=False)

In [ ]:
datas = pd.read_csv('data_bersih.csv')
datas

,title,label,label_score
0,masuk radar pilwalkot medan menantu jokowi tem...,non-clickbait,0
1,malaysia sudut ri isu kabut asap invasi babi,non-clickbait,0
2,viral driver ojol bekas pesan makan pakai sepeda,clickbait,1
3,kemensos salur rp m korban rusuh sosial papua,non-clickbait,0
4,kait mayat bayi enas tangerang pria tangkap po...,non-clickbait,0
...,...,...,...
14995,tolak ruu tanah ribu tani gelar aksi istanadpr...,non-clickbait,0
14996,niat momong program hamil fedi nuril pengin ya...,clickbait,1
14997,edar isu internet papua blokir telkom warga pe...,non-clickbait,0
14998,txt comeback soobin aku gatal pamer spoiler,clickbait,1
14999,emmy awards peter dinklage cetak rekor berkat ...,non-clickbait,0